@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

.linkes {
  @apply md:flex hidden gap-3 items-center text-sm;
}

.feature {
  @apply text-buttonPurple bg-buttonPurple/10 text-xs py-2 px-4 rounded-md;
}
.right-feature-icon-contaier {
  @apply w-12 h-12 flex items-center justify-center bg-buttonPurple rounded-full mx-auto md:mx-0;
}
.right-feature-title {
  @apply text-lg font-semibold my-2;
}
.grid-section {
  @apply grid md:grid-cols-2 gap-4 w-9/12 mx-auto py-10 items-center text-center md:text-start;
}
.pass-grid {
  grid-template-columns: 1fr 2rem;
}
.onboard-title {
  @apply text-xl font-semibold text-center;
}
.onboard-subtitle {
  @apply text-sm text-center text-grey mt-7 mb-6;
}

.reader a {
  @apply text-buttonPurple;
}
.page-layout {
  @apply grid grid-cols-1 lg:grid-cols-pageLayout relative;
  height: calc(100vh - 5rem);
}
.sidebar {
  @apply grid h-full bg-whatNewText text-lightButton p-4 w-[15rem] lg:w-full absolute lg:static top-0 duration-300 z-30 h-screen;
  grid-template-rows: 6rem 1fr 10rem;
}

.generate {
  @apply grid;
  grid-template-columns: 1fr 20rem;
  height: calc(100vh - 3rem);
}
.grey-text {
  @apply text-grey font-semibold text-xs;
}
.purple-button {
  @apply flex gap-2 rounded-md text-white bg-buttonPurple p-2 text-xs;
}
.modal-grid {
  grid-template-rows: 2rem 1fr;
  color: #0e1220;
  /* color: hsl(225, 41%, 11%); */
}

.controls {
  height: calc(100vh - 4.4rem);
}

/* LOADERS */
.button-loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.button-loader-1 {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000000 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #000000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.popup {
  @apply bg-black text-white rounded-full flex absolute z-50 p-1;
}
.popup > div {
  @apply flex gap-2 items-center px-2 text-xs cursor-pointer;
}

.section-loader {
  width: 40px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  /* background: #25b09b; */
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.sun-editor-editable p:first-child {
  @apply text-base mb-4 font-bold;
}
.sun-editor {
  @apply border-0;
}
.se-btn-tray {
  @apply flex justify-center;
}
.sun-editor .se-toolbar {
  @apply bg-white outline-none;
}
.sun-editor input {
  @apply hidden;
}
.sun-editor .se-resizing-bar {
  @apply hidden;
}

.sun-editor-editable::-webkit-scrollbar {
  display: none;
}

.write-option {
  @apply flex items-center gap-2 font-semibold text-xs py-2 px-3 bg-white rounded-full relative z-20;
}
.editor {
  height: calc(100vh - 9rem);

  /* @apply h-[50vh] bg-slate-500; */
}

.write-ai {
  @apply flex items-center gap-2 p-2 border-2 hover:border-purple-500 border-transparent rounded-lg cursor-pointer duration-300;
}
.write-settings-control {
  @apply text-xs;
}
.write-settings-control select {
  @apply block w-full text-[10px] text-black border border-selectText rounded-md p-1 mt-1 outline-0;
}

.single-desc {
  @apply flex justify-between items-center py-1 text-sm;
}

.checkbox-wrapper-6 .tgl {
  display: none;
}
.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
  background: #cccccc;
  /* background: #f0f0f0; */
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
  background: #000ea9;
  /* background: #9fd6ae; */
}

/* STORY MODE */
.single-story {
  @apply bg-white p-4 my-8 rounded-lg;
}
.single-story-top {
  @apply flex justify-between items-center;
}
.single-story-textarea {
  @apply h-32 resize-none rounded-lg outline-none w-full bg-gray-50 p-2 text-sm mt-2 border border-gray-200;
}
.single-story-textarea.long {
  @apply h-80;
}

.single-add-form {
  @apply flex items-center gap-2 border border-buttonPurple rounded-md text-sm p-[2px] text-buttonPurple font-semibold cursor-pointer;
}
.spacing {
  @apply flex items-center justify-center w-8 h-8 border border-black rounded-md text-xs;
}
.spacing.active {
  @apply border-buttonPurple;
}
.small-modal {
  @apply fixed max-w-lg w-full h-fit top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white z-40 rounded-md p-8;
}
.writings-grid {
  @apply w-4/5 mx-auto grid gap-6 relative z-10;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.single-writing {
  @apply shadow-lg p-4 rounded-lg bg-white;
}
.character-input {
  @apply w-full border border-gray-300 rounded-md outline-none mt-2 p-2;
}

.bottom-up {
  @apply hidden group-hover:block bg-white z-10 absolute p-6 left-full rounded-lg w-[30rem] text-sm;
  animation: tooltip 0.5s;
}

@keyframes tooltip {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}
.tooltip-title {
  @apply font-semibold;
}

ul {
  list-style: circle;
  @apply ml-6;
}
.word-count {
  @apply text-sm font-semibold;
}
.chapter-modal {
  @apply absolute right-[3%] top-36 bg-white w-[94%] mx-auto z-10 rounded-md;
  box-shadow: 0 0 10px 5px rgba(197, 197, 197, 0.508);
}
.sudo-text {
  @apply mt-2 text-gray-700;
}
