@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

.linkes {
  @apply flex gap-3 items-center text-sm;
}

.feature {
  @apply text-buttonPurple bg-buttonPurple/10 text-xs py-2 px-4 rounded-md;
}
.right-feature-icon-contaier {
  @apply w-12 h-12 flex items-center justify-center bg-buttonPurple rounded-full;
}
.right-feature-title {
  @apply text-lg font-semibold my-2;
}
.grid-section {
  @apply grid grid-cols-2 gap-4 w-9/12 mx-auto py-10 items-center;
}
.pass-grid {
  grid-template-columns: 1fr 2rem;
}
.onboard-title {
  @apply text-xl font-semibold text-center;
}
.onboard-subtitle {
  @apply text-sm text-center text-grey mt-7 mb-6;
}

.reader a {
  @apply text-buttonPurple;
}
.page-layout {
  @apply grid;
  height: calc(100vh - 4.4rem);
  grid-template-columns: 15rem 1fr;
}
.sidebar {
  @apply grid h-full bg-whatNewText text-lightButton p-4;
  grid-template-rows: 3rem 1fr 6rem;
}

.generate {
  @apply grid h-full;
  grid-template-columns: 1fr 20rem;
}
.grey-text {
  @apply text-grey font-semibold text-xs;
}
.purple-button {
  @apply flex gap-2 rounded-md text-white bg-buttonPurple p-2 text-xs;
}
